.form__input{
    width: 80%;
    margin: 0 auto;
    background-color: rgb(88, 88, 182);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
    gap: 1rem;
}

.form__input label{
    margin-right: 1rem;
    font-size: 1.5rem;
}

.form__input input{
    padding: .5rem;
    font-size: 1.5rem;
}

.form__input button{
    padding: 1rem 2rem;
    border: none;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}

.form__input div{
    justify-self: center;
    align-self: center;
}